# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pymesh2-0.3-cp37-cp37m-linux_x86_64.whl
train.log
nn_desc.test.npz

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
#test/
test_output/
test_results/
z_prova/
z_prova_copy/
provaESMFold/

# Translations
*.mo

*.DS_Store

# Ignore folder
dMaSIF/
figures/
PINet/
tmp/
data_preparation/
masif/APBS-1.5-linux64/
masif/APBS-3.4.1.Linux/
masif/apbs-pdb2pqr-vAPBS-1.5-release/
masif/msms/
masif/PyMesh/
masif/reduce/
obsolete/
librerie/



# Ignore subfolders inside dataset folder

# Ignore cache
cache/
