# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
#test/
test_output/

# Translations
*.mo

*.DS_Store

# Ignore folder
dMaSIF/
figures/
PINet/
tmp/
data_preparation/
/disk1/fingerprint/masif/APBS-1.5-linux64/
/disk1/fingerprint/masif/APBS-3.4.1.Linux/
/disk1/fingerprint/masif/apbs-pdb2pqr-vAPBS-1.5-release/
/disk1/fingerprint/masif/msms/
/disk1/fingerprint/masif/PyMesh/
/disk1/fingerprint/masif/reduce/



# Ignore subfolders inside dataset folder

# Ignore cache
cache/
