# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
#test/
test_output/
test_results/
z_prova/
z_prova_copy/
provaESMFold/
models/
nohup_folder/
surface_data_100/
surface_data_ab/
surface_data_ab_pp/
SurfaceID/
Distillation_S3AI/
provaABodyBuilder2/
preds/
dmasif_wighted_flex_100.out



# Translations
*.mo

*.DS_Store

# Ignore folder
figures/
tmp/
data_preparation/
obsolete/
librerie/
surface_data/
aaa/
runs/


# Ignore subfolders inside dataset folder
SAbDab_preparation/
git chec
# Ignore cache
cache/